.sideBar {
    background-color:gray;
    border:2px darkgray solid;
    border-radius:10px;
    position:fixed;
    right: 5px;
    top:50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    margin: 3px;
    text-align:center;
    width:100px;
    z-index: 2;
    i {
        width: 30px;
        height: auto;
        color: lightgray;
        text-shadow: 4px 4px 5px black;
        transition: 0.5s;
      }
    i:hover{
      
      transform: scale(1.2, 1.2);
      text-shadow: 7px 7px 6px black;
      transition: 0.5s;
      }
    .Profile {
      border-bottom: solid 1px lightgray;
      text-align: center;
      color: white;
      padding:0;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    .Profile p {
      padding:0;
      margin:0;
    }
    .time {
      border-bottom: solid 1px lightgray;
      text-align: center;
      color: white;
      padding:0;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    .time p{
      padding:0;
      margin:0;
    }
    .time_hm {
      font-weigth: bold;
      font-size: 25px;
    }
    .dropMenu {
      display:flex;
      flex-direction:column;
      align-items:center;
      text-align:center;
      transition:1s;
    }
    .dropMenu p {
      font-size: 20px;
      padding: 0;
      margin: 5px;
      
    }
    .soc-red:hover {
      color:rgb(221, 64, 64);
    }
    .soc-purple:hover {
      color:purple;
    }
    .soc-blue:hover {
      color:rgb(36, 36, 190);
    }
    .soc-violet:hover {
      color:violet;
    }
    .soc-lightblue:hover {
      color:rgb(41, 177, 223);
    }
  }