.Header {
  text-align: center;
  background-color: #222;
  height: 80px;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #6c757d 5px solid; }
  .Header .Header:only-child {
    flex: 1; }
  .Header .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 45px;
    margin: 0; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  .Header .btn-group-toggle {
    display: flex;
    flex-direction: row; }
  .Header a {
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none; }
  .Header .btn {
    border-radius: 0;
    margin: 0;
    width: 130px;
    border-left: none;
    border-right: none; }
  .Header .btn-group-toggle:first-child .btn {
    border-radius: 25px 0 0 0;
    border-left: 1px #6c757d solid; }
  .Header .btn-group-toggle:last-child .btn {
    border-radius: 5px 25px 5px 5px;
    border-right: 1px #6c757d solid; }
  .Header .active-button .btn {
    background-color: #6c757d;
    color: black; }

.iconUser {
  width: 45px;
  height: 45px; }
